eqlin-favier-maxime.py
flottants-favier-maxime.py
interpdiff-favier-maxime.py
methodes-favier-maxime.py
problemes-favier-maxime.py
test.py
vecteurs-favier-maxime.py
zerosoptim-favier-maxime.py
edos-favier-maxime.py
integration-favier-maxime.py